<form [formGroup]="newPost" (ngSubmit)="onSubmit()">

  <div class="field">
    <div class="control">
      <input type="text" class="input" placeholder="Post titel" [ngClass]="(newPost.get('title').errors) != null && !newPost.get('title').untouched?'is-danger':''"
        formControlName="title" #title required>
    </div>
    <p class="help is-danger">{{errorMsgTitle}}</p>
  </div>
  <div class="field">
    <div class="control">
      <textarea class="textarea" rows="4" placeholder="Post tekst hierzo..." [ngClass]="(newPost.get('body').errors)!=null && !newPost.get('body').untouched?'is-danger':''"
        formControlName="body" required></textarea>
    </div>
    <p class="help is-danger">{{errorMsgBody}}</p>

  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-link">PostIt</button>
    </div>
  </div>
</form>
<div *ngIf="succes" class="notification is-warning">
    <button (click)="succes = false" class="delete"></button>
    De post is succesvol toegevoegd! <strong>Bekijk hem nu!</strong>
  </div>
