<section class="section">
  <h3 class="title is-3">
    Bekijk uw stad!
  </h3>
  <h5 class="subtitle is-5">
    Hier vindt u een overzicht van alle beschikbare prikborden in Belgïe.
    <br>
  </h5>
  <p>
    Staat uw stad of gemeente nog niet tussen de lijst? Neem gerust
    <a href="mailto:devrient.jonas@gmail.com" class="link">contact</a> op en uw lokaal prikbord wordt zo snel mogelijk toegevoegd.
  </p>

  <div *ngIf='errorMsg' class="notification is-danger">
    <button class="delete"></button>
    {{errorMsg}}
  </div>


  <!-- Search filter -->
  <div class="field has-addons has-addons-right" id="filterInput">
    <p class="control has-icons-left">
      <input (keyup)="filterPinboard$.next($event.target.value)" class="input" type="text" id="filter" name="filter" placeholder="Zoek naar een stad...">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>

  <!-- All pinboards -->
  <div class="columns is-multiline">
    <div *ngFor="let pinboard of pinboards | pinboardFilter:filterPinboardName" class="column is-one-quarter">
      <div class="card">
        <div class="card-header">
            
          <p class="card-header-title "><span class="icon">
              <i class="fas fa-map-marker has-text-grey is-pulled-right"></i>
            </span> {{pinboard.city}}
          
          </p>
        </div>
        <div class="card-content">
          <div class="content">
            <p>Aantal posts: {{pinboard.getAmountOfPosts()}}</p>
            <button class="button is-primary" [routerLink]="['/prikbord', pinboard.city]">Bekijk</button>
          </div>
        </div>
      </div>
    </div>
    <div class="section" *ngIf="(pinboards | pinboardFilter:filterPinboardName) && (pinboards | pinboardFilter:filterPinboardName).length==0">
      <p id="noResults">
        <b>Geen borden gevonden.</b> Wijzig de filter!
      </p>
    </div>
  </div>
</section>
<hr>
<section class="section">
  <h3 class="title is-3">
    Zoek uw stad!
  </h3>
  <h5 class="subtitle is-5">
    Op deze map staan alle prikborden, klik erop!
    <br>
  </h5>
  <app-pinboard-maps [pinboards]="pinboards"></app-pinboard-maps>
</section>