<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h2 class="title is-4">CityPinBoard</h2>
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
        <a routerLink="/prikborden" routerLinkActive="active-link" class="navbar-item">Prikbordenlijst</a>
    </div>
    <div class="navbar-end">
      <a href="#" class="navbar-item">Login</a>
    </div>
  </div>
</nav>