
svg {
    margin-right: 3px;
    cursor: pointer;
}

.subtitle {
    margin-bottom: 40px;
}

.fa-heart {
    cursor: pointer;
}

span {
    padding: 0;
    margin: 0;
    user-select: none;

}

.body-text {
    white-space: pre-wrap;
}