<!-- <form [formGroup]="user" (ngSubmit)="onSubmit()">
  <label for="username">username:</label>
  <input type="text" id="username" formControlName='username'>
  <div class='ui pointing red basic label' *ngIf='user.get("username").errors 
  && user.get("username").touched'>
    a user with that name already exists
  </div>

  <div formGroupName='passwordGroup'>

    <label for="username">password:</label>

    <input type="text" id="username" formControlName='password'>
    <label for="username">confirm password:</label>

    <input type="text" id="username" formControlName='confirmPassword'>
  </div>


  <button type='submit' [disabled]='!user.valid' class="button">register</button>
  {{user.valid}}
</form> -->

<p>Register works!</p>